<MudDialog>
    <TitleContent>
        <div class="d-flex justify-end">
            <MudToggleIconButton 
                Color="Color.Tertiary"
                Toggled="fullScreen"
                ToggledChanged="OnToggleFullscreen"
                Icon="@Icons.Material.Filled.Fullscreen" 
                ToggledIcon="@Icons.Material.Filled.CloseFullscreen">
            </MudToggleIconButton>
            <MudIconButton
                Class="ms-2"
                Color="Color.Error"
                Icon="@Icons.Material.Filled.Close"
                OnClick="Close">
            </MudIconButton>
        </div>
    </TitleContent>
    <DialogContent>
        <MudText>
            Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
            Ut fusce varius nisl ac ipsum gravida vel pretium tellus.
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
            Scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
            Laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio.
            Eget lorem nulla condimentum tempor mattis ut vitae feugiat augue.
            Cras ut metus a risus iaculis scelerisque eu ac ante.
            Fusce non varius purus aenean nec magna felis fusce vestibulum.
            Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis.
        </MudText>
    </DialogContent>
    <DialogActions>
        
    </DialogActions>
</MudDialog>

@code{
    [CascadingParameter]
    MudDialogInstance DialogInstance { get; set; } = null!;

    bool fullScreen = false;

    DialogOptions Options => new()
    {
        MaxWidth = MaxWidth.Large,
        FullScreen = fullScreen
    };

    void Close() => DialogInstance.Close();

    void Update() => DialogInstance.SetOptions(Options);

    protected override void OnInitialized()
    {
        Update();
    }

    void OnToggleFullscreen(bool state)
    {
        fullScreen = state;

        Update();
    }
}